**/*
!dist/extension.cjs
!dist/extension.cjs.map
!dist/THIRD_PARTY_NOTICES.txt
!dist/webview/**
!package.json
!README.md
!LICENSE
!CHANGELOG.md
!VALIDATION.md
!docs/images/editor-light.png
!media/markdown-live-light.svg
!media/markdown-live-dark.svg
!media/markdown-live-icon.png
